<!DOCTYPE html>
<html>
<head>
    <title>Borrow Book</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Borrow Book</h1>
        </header>
        <a href="{% url 'real_home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" style="max-width: 100px" class="logo"></a>
        <main>
            <form method="post">
                {% csrf_token %}
                <label for="book">Book:</label>
                <select id="book" name="book">
                    {% for book in form.fields.book.queryset %}
                        <option value="{{ book.id }}">{{ book.title }}</option>
                    {% endfor %}
                </select>

                <label for="borrower">Borrower:</label>
                <select id="borrower" name="borrower">
                    {% for student in form.fields.borrower.queryset %}
                        <option value="{{ student.id }}">{{ student.first_name }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Borrow Book</button>
            </form>
        </main>
    </div>
</body>
</html>
