<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to the School Management System</h1>
            <nav>
                <a href="{% url 'real_home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" style="max-width: 100px" class="logo"></a>
                <ul>
                    <li><a href="{% url 'home' %}">Student Management System</a></li>
                    <li><a href="{% url 'library_home' %}">Library Management System</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit">Log Out</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <p>This is the home page of your School Management System. Use the navigation links to manage school.</p>
        </main>
    </div>
</body>
</html>
